# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
npm-debug.*
yarn-debug.*
yarn-error.log
.idea/ # For IntelliJ/WebStorm
.vscode/ # For VS Code
*.log
*.lock
*.env
